.carousel {
    margin-left: 10vh;
    margin-right: 10vh;
}

.image {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 60vh;
    margin: auto; */

    margin: auto;
    width: 80%;
    margin-top: 1vh;

}




